<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- datatables -->
    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">

    <title>Edit Inventory</title>
</head>

<body>
    <div class="container">
        <form action="/{{item.id}}/edit" method="POST">
            <div class="mb-3">
                <label for="" class="form-label">Item Name</label>
                <input type="text" class="form-control" name="item_name" value="{{item.item_name}}" id="item_name" aria-describedby="emailHelp">
            </div>

            <input type="hidden" name="id" value="{{item.id}}" id="" aria-describedby="" disabled>

            <div class="mb-3">
                <label for="" class="form-label">Item Quantity</label>
                <input type="text" class="form-control" name="item_quantity" value="{{item.item_quantity}}" id="item_quantity" aria-describedby="">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Item Buying Price</label>
                <input type="text" class="form-control" name="item_buying_price" value="{{item.item_buying_price}}" id="item_buying_price"
                    aria-describedby="">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Item Selling Price</label>
                <input type="text" class="form-control" name="item_selling_price" value="{{item.item_selling_price}}" id="item_selling_price"
                    aria-describedby="">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- datatables -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>$(document).ready(function () {
            $('#myTable').DataTable();
        });</script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>