<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- datatables -->
    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">

    <title>Inventory Management Platform</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Theceri Inventory</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sales">Sales</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>

    <div class="container">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Inventory Item
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            <div class="mb-3">
                                <label for="" class="form-label">Item Name</label>
                                <input type="text" class="form-control" name="item_name" id="item_name"
                                    aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Item Quantity</label>
                                <input type="text" class="form-control" name="item_quantity" id="item_quantity"
                                    aria-describedby="">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Item Buying Price</label>
                                <input type="text" class="form-control" name="item_buying_price" id="item_buying_price"
                                    aria-describedby="">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Item Selling Price</label>
                                <input type="text" class="form-control" name="item_selling_price"
                                    id="item_selling_price" aria-describedby="">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <table id="myTable" class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Buying Price</th>
                    <th scope="col">Selling Price</th>
                    <th scope="col">View Sales</th>
                    <th scope="col">Edit Record</th>
                    <th scope="col">Make Sale</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td></td>
                    <td>{{item.id}}</td>
                    <td>{{item.item_name}}</td>
                    <td>{{item.item_quantity}}</td>
                    <td>{{item.item_buying_price}}</td>
                    <td>{{item.item_selling_price}}</td>
                    <td>
                        <a href="/sale/{{item.id}}" type="button" class="btn btn-outline-secondary" data-bs-toggle=""
                            data-bs-target="">
                            View Sales
                        </a>
                    </td>
                    <td>
                        <a href="/{{item.id}}/edit" type="button" class="btn btn-primary" data-bs-toggle="" data-bs-target="">
                            Edit Record
                        </a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{item.id}}">
                            Make Sale
                        </button>
                        <div class="modal fade" id="exampleModal{{item.id}}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true" data-target>
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Make Sale</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/sales" method="post">
                                            <input type="hidden" name="item_id" value="{{item.id}}">
                                            <div class="form-group">
                                                <label for="" class="form-label">Quantity</label>
                                                <input type="text" class="form-control" name="item_quantity"
                                                    id="item_quantity" aria-describedby="emailHelp">
                                            </div>
                                            <input type="submit" class="btn btn-primary">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- datatables -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>$(document).ready(function () {
            $('#myTable').DataTable();
        });</script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>